@font-face {
  font-family: Poppins;
  src: url(assets/fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: Poppins-light;
  src: url(assets/fonts/Poppins-Medium.ttf);
}

body {
  background-image: linear-gradient(to right, #ffc2c4, #9d72cb);
  margin: 0;
  padding: 0;
  font-family: Poppins;
  height: 100vh; /* Ensures the gradient fills the whole screen */
}

.greenBtn {
  color: rgb(255, 255, 255);
  background: rgb(47, 228, 107);
  width: 100px;
  height: 50px;
  margin: 25px;
  margin-top: -10%;
  margin-left: 33%;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  transition: 0.2s ease;
  cursor: pointer;
}
.greenBtn:hover {
  background: rgb(40, 192, 91);
  border-radius: 7px;
  color: rgb(226, 226, 226);
}

.greenBtn:active {
  background: rgb(32, 152, 72);
}

.orangeBtn {
  background: #febe00;
  color: rgb(255, 255, 255);
  width: 100px;
  height: 50px;
  margin: 50px;
  margin-top: 9%;
  margin-left: 33%;
  margin-bottom: 45px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  display: inline-block;
  transition: 0.2s ease;
  cursor: pointer;
}
.orangeBtn:hover {
  background: #d09c00;
  border-radius: 7px;
  color: rgb(226, 226, 226);
}
.orangeBtn:active {
  background: rgb(147, 111, 0);
}

.redBtn {
  color: rgb(255, 255, 255);
  background: rgb(219, 24, 24);
  width: 100px;
  height: 50px;
  margin: 25px;
  margin-top: 10px;
  margin-left: 33%;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  transition: 0.2s ease;
  cursor: pointer;
}
.redBtn:hover {
  background: rgb(161, 33, 33);
  border-radius: 7px;
  color: rgb(226, 226, 226);
}

.redBtn:active {
  background: rgb(118, 25, 25);
}

.button-container {
  position: relative;
  display: none;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  /* half height and width values */
  margin-top: -135px;
  margin-left: -200px;
  height: 275px;
  width: 400px;
  background-color: white;
  border-radius: 10px;
}

.button-container h3 {
  display: inline-block;
  vertical-align: middle;
  background: rgb(255, 255, 255);
  color: #a300a3;
  margin: 20px;
  margin-left: 30px;
  margin-bottom: 0;
  font-size: 27px;
  margin-right: 0px;
  max-height: 50px;
}

#uploadBtn {
  margin-top: 9%;
  margin-left: 36%;
  margin-bottom: 45px;
}

#createBtn {
  margin: 25px;
  margin-top: -10%;
  margin-left: 36%;
}

.main-container {
  position: relative;
  display: none;
  background: white;
  position: absolute;
  top: 35%;
  left: 50%;
  margin-top: -125px;
  margin-left: -250px;
  height: fit-content;
  width: 500px;
  background-color: white;
  border-radius: 10px;
  padding-bottom: 25px;
}

.backBtn {
  position: absolute;
  left: 17px;
  top: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  transition: 0.2s ease;
  background: none;
  cursor: pointer;
  padding: 10px;
}

.backBtn:hover {
  background-color: #ededed;
}

.backBtn img {
  width: 20px;
  height: 20px;
  display: block;
}

.main-container h2 {
  display: inline-block;
  vertical-align: middle;
  color: rgb(163, 0, 163);
  margin-right: 50px;
  font-size: 30px;
  margin-left: 30px;
  margin-top: 60px;
  margin-bottom: 0;
}

.row-input {
  margin: 25px;
}

.row-input input {
  border: none;
  border-radius: 20px;
  background-color: rgb(236, 236, 236);
  margin-left: 20px;
  height: 50px;
  width: 275px;
  padding-left: 20px;
  outline: none;
  font-size: 17px;
}

.row-input input::placeholder {
  color: #696969;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.row-input input:focus::placeholder {
  opacity: 0;
}

#take-input {
  height: 47px;
  width: 80px;
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 16px;
  margin-bottom: 0;
}

.list li {
  list-style: none;
  color: rgb(40, 40, 40);
  cursor: pointer;
  user-select: none;
  margin-top: 10px;
  padding-left: 40px;
  position: relative;
  font-family: Poppins-light;
  font-weight: 100;
  font-size: 17px;
}
.list li::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url("assets/check-icons/unchecked-34.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.list li.checked {
  color: #555555;
  text-decoration: line-through;
}
.list li.checked::before {
  background-image: url("assets/check-icons/checked-6.svg");
}

.list li span {
  position: absolute;
  right: 50px;
  width: 30px;
  height: 25px;
  text-align: center;
  color: #6b6b6b;
  font-size: 14px;
  padding-top: 5px;
}

.list li span:hover {
  background-color: #e1e1e1;
  border-radius: 50%;
}

.save {
  color: rgb(255, 255, 255);
  background: rgb(254, 190, 0);
  width: 60px;
  height: 35px;
  margin: 25px;
  margin-left: 40%;
  font-size: 12px;
  border-radius: 10px;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  font-family: Poppins;
  display: none;
}
.save:hover {
  background: rgb(208, 156, 0);
  border-radius: 7px;
  color: rgb(226, 226, 226);
}

.save:active {
  background: rgb(147, 111, 0);
}

#darkBtn {
  background: url("assets/dark-mode-icons/1.svg") no-repeat center;
  background-size: contain;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  transition: 0.5s ease;
  background-color: transparent;
}

.login-signup-container {
  display: block;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  /* half height and width values */
  margin-top: -150px;
  margin-left: -175px;
  height: 300px;
  width: 350px;
  background-color: white;
  border-radius: 10px;
}

.login-signup-container h3 {
  background: rgb(255, 255, 255);
  color: #a300a3;
  margin: 20px;
  margin-left: 30px;
  margin-bottom: 0;
  font-size: 24px;
}

#loginBtn {
  margin-top: 12%;
}

#signupBtn {
  margin-top: -10%;
}

.login-page {
  display: none;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  /* half height and width values */
  margin-top: -150px;
  margin-left: -200px;
  height: 300px;
  width: 400px;
  background-color: white;
  border-radius: 10px;
  padding-top: 15px;
}

.login-page input {
  border: none;
  border-radius: 20px;
  background-color: rgb(236, 236, 236);
  margin-left: 45px;
  height: 45px;
  width: 250px;
  padding-left: 20px;
  outline: none;
  font-size: 17px;
  /* margin-top: 30px; */
}

.login-page input::placeholder {
  color: #696969;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.login-page input:focus::placeholder {
  opacity: 0;
}

.input-username-login {
  margin-top: 10px;
}
.input-password-login {
  margin-top: 30px;
}

#submit-loginBtn {
  margin-top: 9%;
  margin-left: 33%;
  margin-bottom: 45px;
}

.signup-page {
  display: none;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  /* half height and width values */
  margin-top: -150px;
  margin-left: -200px;
  height: 300px;
  width: 400px;
  background-color: white;
  border-radius: 10px;
  padding-top: 15px;
}

.signup-page input {
  border: none;
  border-radius: 20px;
  background-color: rgb(236, 236, 236);
  margin-left: 45px;
  height: 45px;
  width: 250px;
  padding-left: 20px;
  outline: none;
  font-size: 17px;
  /* margin-top: 30px; */
}

.signup-page input::placeholder {
  color: #696969;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.signup-page input:focus::placeholder {
  opacity: 0;
}

.input-username-signup {
  margin-top: 10px;
}

.input-password-signup {
  margin-top: 30px;
}

#submit-signupBtn {
  margin-top: 9%;
  margin-left: 33%;
  margin-bottom: 45px;
}

.incorrect-details {
  display: none;
  font-size: 12px;
  font-weight: 100;
  margin-top: 10px;
  margin-left: 40px;
  margin-bottom: -10px;
  color: rgb(31, 31, 31);
}

.backArrowBtn {
  margin-left: 17px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  display: block;
  transition: 0.2s ease;
  background: none;
  cursor: pointer;
  padding: 10px;
}

.backArrowBtn:hover {
  background-color: #ededed;
}

.backArrowBtn img {
  width: 20px;
  height: 20px;
  display: block;
}

.settings-cog {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  top: 20px;
  right: 20px;
  padding: 5px;
  border: none;
  background: none;
  cursor: pointer;
}

.settings-cog img {
  width: 22px; /* Adjust the size as needed */
  height: 22px;
}

.settings-cog2 {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  top: 25px;
  right: 20px;
  padding: 5px;
  border: none;
  background: none;
  cursor: pointer;
}
.settings-cog2 img {
  width: 24px;
  height: 24px;
}

.options-menu {
  display: none;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  /* half height and width values */
  margin-top: -175px;
  margin-left: -135px;
  height: 350px;
  width: 275px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  z-index: 10;
}

.close-optionsBtn {
  display: inline-block;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  margin-left: 75px;
  margin-top: 15px;
  padding: 5px;
  width: 35px;
  height: 35px;
  border-radius: 1000px;
  border: transparent;
  background: none;
  cursor: pointer;
}

.close-optionsBtn img {
  width: 24px;
  height: 24px;
}
.close-optionsBtn:hover {
  background: #ededed;
}

.blur-overlay {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Dark transparent layer */
  backdrop-filter: blur(10px); /* Blur effect */
  z-index: 5;
}

.options-menu h3 {
  display: inline-block;
  vertical-align: middle;
  background: rgb(255, 255, 255);
  color: #a300a3;
  margin: 20px;
  margin-left: 30px;
  margin-bottom: 0;
  font-size: 24px;
}

#profileBtn {
  margin-top: 12%;
  margin-left: 33%;
  margin-bottom: 45px;
}

#contactBtn {
  margin: 25px;
  margin-top: -10%;
  margin-left: 33%;
}

#log-outBtn {
  margin: 25px;
  margin-top: 10px;
  margin-left: 33%;
}

.change-details-menu {
  display: none;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  /* half height and width values */
  margin-top: -250px;
  margin-left: -185px;
  height: 490px;
  width: 375px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  z-index: 10;
}
.change-details-menu h3 {
  display: inline-block;
  vertical-align: middle;
  background: rgb(255, 255, 255);
  color: #a300a3;
  margin: 20px;
  margin-left: 30px;
  margin-bottom: 0;
  font-size: 27px;
}

.close-change-detailsBtn {
  display: inline-block;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
  margin-top: 18px;
  padding: 5px;
  width: 35px;
  height: 35px;
  border-radius: 1000px;
  border: transparent;
  background: none;
  cursor: pointer;
}

.close-change-detailsBtn img {
  width: 24px;
  height: 24px;
}
.close-change-detailsBtn:hover {
  background: #ededed;
}

.change-details-menu input {
  border: none;
  border-radius: 20px;
  background-color: rgb(236, 236, 236);
  margin-left: 45px;
  height: 45px;
  width: 220px;
  padding-left: 20px;
  outline: none;
  font-size: 16px;
  margin-top: 20px;
  /* margin-top: 30px; */
}

.change-details-menu input::placeholder {
  color: #696969;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.change-details-menu input:focus::placeholder {
  opacity: 0;
}

.change-details-menu form button {
  color: rgb(255, 255, 255);
  background: rgb(47, 228, 107);
  width: 80px;
  height: 40px;
  margin: 25px;
  margin-top: 10px;
  margin-left: 37%;
  font-size: 13px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  transition: 0.2s ease;
  cursor: pointer;
}
.change-details-menu form button:hover {
  background: rgb(40, 192, 91);
  border-radius: 7px;
  color: rgb(226, 226, 226);
}

.change-details-menu form button:active {
  background: rgb(32, 152, 72);
}

#delete-accountBtn {
  width: 120px;
  height: 35px;
  margin-left: 118px;
  margin-top: 20px;
  font-size: 14px;
}

.delete-confirmation {
  display: none;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  /* half height and width values */
  margin-top: -90px;
  margin-left: -125px;
  height: 170px;
  width: 250px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  z-index: 10;
}
.delete-confirmation h4 {
  position: relative;
  background: rgb(255, 255, 255);
  color: #a300a3;
  margin: 20px;
  margin-left: 32px;
  margin-bottom: 0;
  font-size: 24px;
}
.delete-confirmation button {
  display: inline-block;
  vertical-align: middle;
  width: 70px;
  height: 45px;
  margin: 0;
  margin-left: 20px;
  margin-top: 25px;
}
#no-delete {
  margin-left: 42px;
}

.email-form {
  display: none;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  /* half height and width values */
  margin-top: -275px;
  margin-left: -250px;
  height: 550px;
  width: 500px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  z-index: 10;
}
.email-form h3 {
  display: inline-block;
  vertical-align: middle;
  background: rgb(255, 255, 255);
  color: #a300a3;
  margin: 20px;
  margin-left: 30px;
  margin-bottom: 0;
  font-size: 24px;
}
.close-email-formBtn {
  display: inline-block;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  margin-left: 260px;
  margin-top: 8px;
  padding: 5px;
  width: 35px;
  height: 35px;
  border-radius: 1000px;
  border: transparent;
  background: none;
  cursor: pointer;
}

.close-email-formBtn img {
  width: 24px;
  height: 24px;
}
.close-email-formBtn:hover {
  background: #ededed;
}

.email-form input {
  border: none;
  border-radius: 15px;
  background-color: rgb(236, 236, 236);
  margin-left: 45px;
  height: 45px;
  width: 275px;
  padding-left: 20px;
  outline: none;
  font-size: 16px;
  margin-top: 20px;
  /* margin-top: 30px; */
}

.email-form input::placeholder {
  color: #696969;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.email-form input:focus::placeholder {
  opacity: 0;
}

.email-form textarea {
  border: none;
  border-radius: 10px;
  background-color: rgb(236, 236, 236);
  margin-left: 45px;
  height: 230px;
  width: 400px;
  padding: 10px;
  outline: none;
  font-size: 14px;
  margin-top: 20px;
  font-family: Poppins-light;
  resize: none;
  /* margin-top: 30px; */
}

.email-form textarea::placeholder {
  color: #696969;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.email-form textarea:focus::placeholder {
  opacity: 0;
}
#send-message {
  width: 135px;
  height: 45px;
  margin-top: 13px;
}

.create-list-menu {
  display: none;
  background: rgb(255, 255, 255);
  top: 50%;
  left: 50%;
  position: absolute;
  /* half height and width values */
  margin-top: -145px;
  margin-left: -175px;
  height: 275px;
  width: 350px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding-top: 15px;
}

#back-from-create-list {
  margin-bottom: 0;
}

.create-list-menu h3 {
  background: rgb(255, 255, 255);
  color: #a300a3;
  margin: 20px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 24px;
}

.create-list-menu input {
  border: none;
  border-radius: 15px;
  background-color: rgb(236, 236, 236);
  margin-left: 45px;
  height: 45px;
  width: 225px;
  padding-left: 20px;
  outline: none;
  font-size: 16px;
  margin-top: 20px;
  /* margin-top: 30px; */
}

.create-list-menu input::placeholder {
  color: #696969;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.create-list-menu input:focus::placeholder {
  opacity: 0;
}

#create-listBtn {
  margin-top: 35px;
}

.load-lists-menu {
  display: none;
  background: rgb(255, 255, 255);
  top: 50%;
  left: 50%;
  position: absolute;
  /* half height and width values */
  margin-top: -145px;
  margin-left: -175px;
  height: 275px;
  width: 350px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding-top: 15px;
}
.load-lists-menu h3 {
  background: rgb(255, 255, 255);
  color: #a300a3;
  margin: 20px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 24px;
}
#listDropdown {
  margin-top: 20px;
  margin-left: 50px;
  border-radius: 8px;
  width: 225px;
  height: 40px;
  background-color: #ececec;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#load-selected-list {
  margin-top: 45px;
}
/* dark mode */

.dark-mode #darkBtn {
  background: url("assets/dark-mode-icons/2.svg") no-repeat center;
  background-size: contain;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
}

.dark-mode {
  background-image: linear-gradient(to right, #371d2f, #362051);
}

.dark-mode .greenBtn {
  background: #2ba055;
}
.dark-mode .greenBtn:hover {
  background: #1f7a44;
}
.dark-mode .greenBtn:active {
  background: #155d34;
}

.dark-mode .orangeBtn {
  background: #c89c00;
}
.dark-mode .orangeBtn:hover {
  background: #966f00;
}
.dark-mode .orangeBtn:active {
  background: #745500;
}

.dark-mode .redBtn {
  background: #921414;
}
.dark-mode .redBtn:hover {
  background: #6c0e0e;
}
.dark-mode .redBtn:active {
  background: #530e0e;
}

.dark-mode .button-container {
  background: #202020;
}

.dark-mode .button-container h3 {
  background: #202020;
  color: #e233d9;
}

.dark-mode .main-container {
  background: #202020;
}

.dark-mode .main-container h2 {
  color: #e233d9;
}

.dark-mode .row-input input {
  background-color: #4a4a4a;
  color: white;
}

.dark-mode .list li {
  color: #d3d3d3;
}

.dark-mode .list li span {
  color: #a9a9a9;
}
.dark-mode .list li span:hover {
  background-color: #363636;
}

.dark-mode .login-signup-container {
  background: #202020;
}

.dark-mode .login-signup-container h3 {
  background: #202020;
  color: #e233d9;
}

.dark-mode .login-page {
  background: #202020;
}
.dark-mode .login-page input {
  background-color: #4a4a4a;
  color: white;
}

.dark-mode .signup-page {
  background: #202020;
}
.dark-mode .signup-page input {
  background-color: #4a4a4a;
  color: white;
}

.dark-mode .incorrect-details {
  color: rgb(180, 180, 180);
}
.dark-mode .backArrowBtn:hover {
  background-color: rgb(68, 68, 68);
}

.dark-mode .backArrowBtn img {
  content: url("assets/back-button/dark-mode-back-arrow.svg");
}

.dark-mode .options-menu {
  background: #202020;
}

.dark-mode .options-menu img {
  content: url(assets/close-icons/white-close.svg);
}
.dark-mode .options-menu h3 {
  background: #202020;
  color: #e233d9;
}

.dark-mode .change-details-menu {
  background: #202020;
}

.dark-mode .change-details-menu h3 {
  background: #202020;
  color: #e233d9;
}
.dark-mode .close-change-detailsBtn img {
  content: url(assets/close-icons/white-close.svg);
}
.dark-mode .change-details-menu input {
  background-color: #4a4a4a;
  color: white;
}

.dark-mode .change-details-menu form button {
  background: #2ba055;
}
.dark-mode .change-details-menu form button:hover {
  background: #1f7a44;
}
.dark-mode .change-details-menu form button:active {
  background: #155d34;
}
.dark-mode .delete-confirmation {
  background: #202020;
}
.dark-mode h4 {
  background: #202020;
  color: #e233d9;
}

.dark-mode .email-form {
  background: #202020;
}
.dark-mode .email-form h3 {
  background: #202020;
  color: #e233d9;
}
.dark-mode .email-form input {
  background-color: #4a4a4a;
  color: white;
}
.dark-mode .email-form textarea {
  background-color: #4a4a4a;
  color: rgb(228, 228, 228);
}
.dark-mode .close-email-formBtn img {
  content: url(assets/close-icons/white-close.svg);
}
.dark-mode .close-email-formBtn:hover {
  background-color: rgb(68, 68, 68);
}
.dark-mode .close-change-detailsBtn:hover {
  background-color: rgb(68, 68, 68);
}
.dark-mode .close-optionsBtn:hover {
  background-color: rgb(68, 68, 68);
}

.dark-mode .backBtn:hover {
  background-color: rgb(68, 68, 68);
}
.dark-mode .backBtn img {
  content: url("assets/back-button/dark-mode-back-arrow.svg");
}

.dark-mode .create-list-menu {
  background: #202020;
}
.dark-mode .create-list-menu h3 {
  background: #202020;
  color: #e233d9;
}
.dark-mode .create-list-menu input {
  background-color: #4a4a4a;
  color: white;
}

.dark-mode .load-lists-menu {
  background: #202020;
}
.dark-mode .load-lists-menu h3 {
  background: #202020;
  color: #e233d9;
}
.dark-mode #listDropdown {
  background: #4a4a4a;
}
